doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/stylesheets/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet', href="/stylesheets/bootstrap/dist/css/bootstrap.css")
  body
    block content
